body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: 'Shantell Sans', cursive;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
}

h1 {
  margin: 0;
}

button {
  font-family: 'Shantell Sans', cursive;
}

.container {
  min-width: 500px;
  max-width: 500px;
  min-height: 500px;
  border: 1px solid black;
  border-radius: 1%;
  background: white;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
}

.paint {
  background: black;
}

div.pixel {
  border: 0.1px solid hsla(0, 0%, 0%, 0.050);
}