body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  min-width: 500px;
  max-width: 500px;
  min-height: 500px;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
}

div {
  border: 0.25px solid black;
}